---
import Layout from "@layouts/base.layout.astro"
import Hero from "@components/Hero.astro"
import { readFile } from "fs/promises"
import Contact from "@components/Contact.astro"
import "../app.css"
import Carousel from "@components/Carousel.astro"

const all = await readFile("src/data/services/services.json")
const services = JSON.parse(all.toString())
---

<Layout>
  <Hero subtitle="Studio Arsenov" />
  <div class="top-section">
    <!-- about us start -->
    <div id="o-nama">
      <div class="mx-auto py-24 sm:px-6 sm:py-32 lg:px-8">
        <div
          class="relative overflow-hidden bg-[url('/assets/photos/Z6D_5739.jpg')] bg-center bg-cover px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
        >
          <div
            class="absolute inset-0 bg-gradient-to-r from-black/60 to-gray-900/5"
          >
          </div>
          <div
            class="mx-auto max-w-md text-center py-10 lg:mx-0 lg:ml-auto lg:py-16 lg:text-left"
          >
            <div
              class="animate-fadeIn js-show-on-scroll bg-primary p-6 sm:p-16 rounded-3xl bg-opacity-50 ml-auto"
            >
              <h2
                class="relative text-3xl font-bold tracking-tight text-white sm:text-4xl"
              >
                ŽELITE DA ZNATE VIŠE O NAMA?<br />
              </h2>
              <p class="relative mt-6 text-lg leading-8 text-gray-200">
                Sa iskustvom od više od dve decenije, naš studio se ističe u
                pružanju vrhunskih usluga svojim klijentima, kao i ambicijom da
                na svaku osobu sa kojom ostvarimo saradnju ostavimo trajan
                utisak.
              </p>
              <br />
              <a
                href="/o-nama"
                class="relative mt-6 text-lg leading-8 font-medium text-white"
                >Saznajte više</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- End about us -->
      <!--services start -->
      <div id="usluge">
        <div class="mx-auto sm:px-6 lg:px-8">
          <div
            class="relative bg-center bg-cover overflow-hidden bg-[url('/assets/photos/DJI_0159.JPG')] py-20 px-6 sm:rounded-3xl sm:py-24 sm:px-10 lg:py-24 xl:px-24"
          >
            <div
              class="animate-fadeIn js-show-on-scroll bg-primary p-6 rounded-3xl bg-opacity-70 mx-auto grid max-w-2xl grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-center lg:gap-y-0"
            >
              <div class="lg:row-start-2 lg:max-w-md">
                <h2
                  class="text-3xl font-bold tracking-tight text-white sm:text-4xl"
                >
                  Vi ste tu da nam kažete šta želite, mi smo tu da Vaše želje
                  ostanu zapisane i ostvarene...
                </h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">
                  Jedinstven osećaj je ono čemu smo posvećeni i zahvalni smo na
                  prilici da ostavimo trag i budemo deo onoga sto se pamti.
                </p>
              </div>
              <div
                class="lg:row-start-3 lg:mt-10 lg:max-w-md lg:border-t lg:border-white/10 lg:pt-10"
              >
                <dl
                  class="space-y-8 text-base leading-7 text-gray-300 lg:max-w-none"
                >
                  {
                    services.map((service) => (
                      <a href={service.url}>
                        <div class="heading-underline relative p-4 rounded-t-3xl transition-all cursor-pointer hover:bg-primary/30">
                          <dt class="text-xl inline-block font-semibold text-white">
                            {service.title}
                          </dt>
                          <br />
                          <dd class="inline">{service.description}</dd>
                        </div>
                      </a>
                    ))
                  }
                </dl>
              </div>
            </div>
            <svg
              class="pointer-events-none absolute top-1/2 left-12 -z-10 h-[42.375rem] -translate-y-1/2 transform-gpu blur-3xl lg:top-auto lg:bottom-[-12rem] lg:translate-y-0"
              viewBox="0 0 1155 678"
              fill="none"
            >
              <path
                fill="url(#c0458c57-1330-459f-9d5c-f0d75c210466)"
                fill-opacity=".25"
                d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
              ></path>
              <defs>
                <linearGradient
                  id="c0458c57-1330-459f-9d5c-f0d75c210466"
                  x1="1155.49"
                  x2="-78.208"
                  y1=".177"
                  y2="474.645"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#9089FC"></stop>
                  <stop offset="1" stop-color="#FF80B5"></stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
        </div>
      </div>

      <!--end services -->
      <!--testimonials start -->
      <section class="my-16 pt-10 bg-opacity-70" id="utisci">
        <h3 class="text-center text-white text-4xl py-10">
          Šta klijenti kažu o nama...
        </h3>
        <!--carousel -->

        <Carousel />
        <div class="mx-auto max-w-7xl md:grid md:grid-cols-2 md:px-6 lg:px-8">
          <div
            class="py-12 px-6 md:flex md:flex-col md:border-r md:border-gray-300 md:py-16 md:pl-0 md:pr-10 lg:pr-16"
          >
            <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
              <div class="relative text-lg font-medium text-white md:flex-grow">
                <svg
                  class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-4 transform text-indigo-600"
                  fill="currentColor"
                  viewBox="0 0 32 32"
                  aria-hidden="true"
                >
                  <path
                    d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
                  ></path>
                </svg>
                <p class="relative text-xl">
                  Najbolji ste, kreativni, kulturni, ljubazni...A slike
                  savrsene!
                </p>
              </div>
              <footer class="mt-8">
                <div class="flex items-center">
                  <div
                    class="inline-flex flex-shrink-0 rounded-full border-2 border-white"
                  >
                    <img
                      class="h-12 w-12 rounded-full"
                      src="https://studioarsenov.com/images/avatars/maja.jpg"
                      alt=""
                    />
                  </div>
                  <div class="ml-4">
                    <div class="text-base font-medium text-white">Maja</div>
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>
          <div
            class="border-t-2 border-indigo-900 py-12 px-6 md:border-t-0 md:border-l md:py-16 md:pr-0 md:pl-10 lg:pl-16"
          >
            <blockquote class="mt-6 md:flex md:flex-grow md:flex-col">
              <div class="relative text-lg font-medium text-white md:flex-grow">
                <svg
                  class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-4 transform text-indigo-600"
                  fill="currentColor"
                  viewBox="0 0 32 32"
                  aria-hidden="true"
                >
                  <path
                    d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
                  ></path>
                </svg>
                <p class="relative text-xl">
                  Uvek broj jedan u svom poslu. Slike su savrsene, ljubaznost na
                  nivou... Decu lako opusti i animira da slike budu perfektne.
                  Sve pohvale!!!
                </p>
              </div>
              <footer class="mt-8">
                <div class="flex items-center">
                  <div
                    class="inline-flex flex-shrink-0 rounded-full border-2 border-white"
                  >
                    <img
                      class="h-12 w-12 rounded-full"
                      src="https://studioarsenov.com/images/avatars/sladjana.jpg"
                      alt=""
                    />
                  </div>
                  <div class="flex items-center ml-4">
                    <div class="text-base font-medium text-white">Sladjana</div>
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
      </section>
      <!--end testimonials -->
      <!--contact start-->
      <Contact />
      <!--contact end -->
    </div>
  </div>
</Layout>
