<div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4">
  <div class="w-full relative flex items-center justify-center">
    <button
      aria-label="slide backward"
      class="absolute z-30 left-0 ml-10 rounded-full bg-primary p-4 focus:outline-none"
      id="prev"
    >
      <svg
        class="text-secondary"
        width="10"
        height="10"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 1L1 7L7 13"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
    <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
      <div
        id="slider"
        class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"
      >
        <div
          class="flex flex-shrink-0 relative w-full xs:w-[300px] xs:h-[492px]"
        >
          <img
            src="/assets/photos/ss1.jpg"
            alt="Screenshot 1"
            class="object-contain object-center w-full h-full"
          />
        </div>
        <div
          class="flex flex-shrink-0 relative w-full xs:w-[300px] xs:h-[492px]"
        >
          <img
            src="/assets/photos/ss2.jpg"
            alt="Screenshot 2"
            class="object-contain object-center w-full h-full"
          />
        </div>
        <div
          class="flex flex-shrink-0 relative w-full xs:w-[300px] xs:h-[492px]"
        >
          <img
            src="/assets/photos/ss3.jpg"
            alt="Screenshot 3"
            class="object-contain object-center w-full h-full"
          />
        </div>
        <div
          class="flex flex-shrink-0 relative w-full xs:w-[300px] xs:h-[492px]"
        >
          <img
            src="/assets/photos/ss4.jpg"
            alt="Screenshot 4"
            class="object-contain object-center w-full h-full"
          />
        </div>
      </div>
    </div>
    <button
      aria-label="slide forward"
      class="absolute z-30 right-0 mr-10 rounded-full bg-primary p-4 focus:outline-none"
      id="next"
    >
      <svg
        class="text-secondary"
        width="10"
        height="10"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1L7 7L1 13"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</div>
