---
import { optimizeCloudinaryImage } from "@helpers/cloudinary.helper";
import Image from "@components/Image.astro";
const { pics, main, title } = Astro.props;
---

<script>
  import { Fancybox } from "@fancyapps/ui";
  import "@fancyapps/ui/dist/fancybox/fancybox.css";

  Fancybox.bind("[data-fancybox]", {});
</script>

<h3 class="text-gray-100 text-4xl mb-20 text-center font-semibold">{title}</h3>
<img
  src={main.url}
  alt="Slika 1"
  class="blurry-load h-full w-full object-cover object-center"
  width="456"
  height="556"
  loading="lazy"
  data-large={main.url}
/>

<!--gallery -->
<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl">
    <div class="mb-4 flex items-center justify-center gap-8 sm:mb-8 md:mb-12">
      <h2
        class="text-2xl font-bold justify-center text-gray-100 dark:text-primary lg:text-3xl"
      >
        Galerija
      </h2>
    </div>

    <div class="grid grid-cols-2 gap-2 lg:grid-cols-3">
      {
        pics.length !== 0 &&
          pics.map((item, index) => (
            <Image
              image={optimizeCloudinaryImage(item.url, 800, 800)}
              className={`w-[200px] h-[200px] md:w-full md:h-[500px] object-cover ${
                index > 5 ? "hidden" : ""
              }`}
              dataFancybox="gallery"
              dataCaption={item.alt}
            />
          ))
      }
    </div>
  </div>
</div>
<!--end gallery -->
