<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<!-- Demo styles -->
<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
  }
</style>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="/assets/photos/sunset.jpg"
        alt="sliderImage1"
        title="sliderImage1"
        class="h-[490px] w-full object-cover sm:h-[800px]"
        loading="lazy"
        width="348.51"
        height="936"
      />
      <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    </div>
    <div class="swiper-slide">
      <img
        class="h-[490px] w-full object-cover sm:h-[800px]"
        src="/assets/photos/DEJ_3059.jpg"
        alt="sliderImage2"
        title="sliderImage2"
        loading="lazy"
        width="348.51"
        height="936"
      />
      <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    </div>
    <div class="swiper-slide">
      <img
        class="h-[490px] w-full object-cover sm:h-[800px]"
        src="/assets/photos/DEJ_8980.jpg"
        alt="sliderImage3"
        title="sliderImage3"
        loading="lazy"
        width="348.51"
        height="936"
      />
      <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    </div>
    <div class="swiper-slide">
      <img
        class="h-[490px] w-full object-cover sm:h-[800px]"
        src="/assets/photos/DJI_0154.jpg"
        alt="sliderImage4"
        title="sliderImage4"
        loading="lazy"
        width="348.51"
        height="936"
      />
      <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    </div>
    <div class="swiper-slide">
      <img
        class="h-[490px] w-full object-cover sm:h-[800px]"
        src="/assets/photos/DEJ_7886.jpg"
        alt="sliderImage4"
        title="sliderImage4"
        loading="lazy"
        width="348.51"
        height="936"
      />
      <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script defer src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
></script>

<!-- Initialize Swiper -->
<script type="module" defer>
  var swiper3 = new Swiper(".mySwiper", {
    grabCursor: true,
    effect: "creative",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: ["-20%", 0, -1],
      },
      next: {
        translate: ["100%", 0, 0],
      },
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: false,
    },
  })
</script>
