---
import { optimizeCloudinaryImage } from "@helpers/cloudinary.helper";
import { Image } from "astro:assets";

const imgArr = [
  "https://res.cloudinary.com/studioarsenov/image/upload/v1716820308/DEJ_1771_1_icao9b.jpg",
  "https://res.cloudinary.com/studioarsenov/image/upload/v1716820319/DEJ_4567_nk2m42.jpg",
  "https://res.cloudinary.com/studioarsenov/image/upload/v1716820335/DEJ_7806_iyo9jv.jpg",
  "https://res.cloudinary.com/studioarsenov/image/upload/v1716910455/wedding4_ygtrq0.jpg",
  "https://res.cloudinary.com/studioarsenov/image/upload/v1716911684/Z6D_4328b_tqnwvd.png",
  "https://res.cloudinary.com/studioarsenov/image/upload/v1716911875/wedding3_x95id7.jpg",
];
---

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<!-- Demo styles -->
<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
  }
</style>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div
      class="absolute inset-0 bg-gradient-to-b opacity-50 from-black to-transparent z-10"
    >
    </div>

    {
      imgArr.map((item, index) => (
        <div class="swiper-slide">
          <Image
            class="h-[440px] w-full object-cover object-center sm:h-[900px]"
            src={optimizeCloudinaryImage(item, 2500, 1980)}
            alt={"Slika " + index}
            title={"Slika " + index}
            width="348.51"
            height="936"
            loading="eager"
          />
        </div>
      ))
    }
  </div>
</div>
<!-- Swiper JS -->
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>

<!-- Initialize Swiper -->
<script type="module" defer>
  var swiper3 = new Swiper(".mySwiper", {
    grabCursor: true,
    effect: "creative",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: ["-20%", 0, -1],
      },
      next: {
        translate: ["100%", 0, 0],
      },
    },
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
  });
</script>
