---
import { readFile } from "fs/promises"
const all = await readFile("src/data/photos/photos.json")
const data = JSON.parse(all.toString())
const videoData = data.filter((items) => items.videos)
---

<div class="flex flex-col max-w-6xl mx-auto rounded-3xl my-20 gap-y-10">
  <h1 class="text-4xl text-white font-semibold text-center mb-20">
    Video Galerija
  </h1>
  {
    videoData[0].videos.map((video) => (
      <video
        class="mx-auto rounded-3xl w-full h-full"
        width="800"
        height="540"
        controls
      >
        <source src={video} type="video/mp4" />
      </video>
    ))
  }
</div>
