---
import { readFile } from "fs/promises"
const all = await readFile("src/data/photos/photos.json")
const data = JSON.parse(all.toString())
const videoData = data.filter((items) => items.videos)
---

<div class="flex flex-col max-w-6xl mx-auto rounded-3xl my-20 gap-y-10">
  <h1 class="text-4xl text-white font-semibold text-center mb-20">
    Video Galerija
  </h1>
  
  <h2 class="text-3xl text-white font-semibold text-center mb-20">
    Uskoro!
  </h2>
  
</div>
